
.fs-10 {
    font-size: 0.10rem !important;
}

.fs-11 {
    font-size: 0.11rem !important;
}

.fs-12 {
    font-size: 0.12rem !important;
}

.fs-13 {
    font-size: 0.13rem !important;
}

.fs-14 {
    font-size: 0.14rem !important;
}

.fs-15 {
    font-size: 0.15rem !important;
}

.fs-16 {
    font-size: 0.16rem !important;
}

.fs-17 {
    font-size: 0.17rem !important;
}

.fs-18 {
    font-size: 0.18rem !important;
}

.fs-19 {
    font-size: 0.19rem !important;
}

.fs-20 {
    font-size: 0.20rem !important;
}

.fs-21 {
    font-size: 0.21rem !important;
}

.fs-22 {
    font-size: 0.22rem !important;
}

.fs-23 {
    font-size: 0.23rem !important;
}

.fs-24 {
    font-size: 0.24rem !important;
}

.fs-25 {
    font-size: 0.25rem !important;
}

.fs-26 {
    font-size: 0.26rem !important;
}

.fs-27 {
    font-size: 0.27rem !important;
}

.fs-28 {
    font-size: 0.28rem !important;
}

.fs-29 {
    font-size: 0.29rem !important;
}

.fs-30 {
    font-size: 0.30rem !important;
}

.fs-31 {
    font-size: 0.31rem !important;
}


