
.margin-top-5 {
    margin-top: 0.05rem !important;
}

.margin-top-10 {
    margin-top: 0.10rem !important;
}

.margin-top-20 {
    margin-top: 0.20rem !important;
}

.margin-top-30 {
    margin-top: 0.30rem !important;
}

.margin-top-40 {
    margin-top: 0.40rem !important;
}

.margin-top-50 {
    margin-top: 0.50rem !important;
}

.margin-top-80 {
    margin-top: 0.80rem !important;
}

.margin-bottom-5 {
    margin-bottom: 0.05rem !important;
}

.margin-bottom-10 {
    margin-bottom: 0.10rem !important;
}

.margin-bottom-20 {
    margin-bottom: 0.20rem !important;
}

.margin-bottom-30 {
    margin-bottom: 0.30rem !important;
}

.margin-left-5 {
    margin-left: 0.05rem !important;
}

.margin-left-7 {
    margin-left: 0.08rem !important;
}

.margin-left-8 {
    margin-left: 0.08rem !important;
}

.margin-left-10 {
    margin-left: 0.10rem !important;
}

.margin-left-12 {
    margin-left: 0.12rem !important;
}

.margin-left-14 {
    margin-left: 0.14rem !important;
}

.margin-left-16 {
    margin-left: 0.16rem !important;
}

.margin-left-20 {
    margin-left: 0.20rem !important;
}

.margin-left-23 {
    margin-left: 0.23rem !important;
}

.margin-left-30 {
    margin-left: 0.30rem !important;
}


.margin-right-5 {
    margin-right: 0.05rem !important;
}

.margin-right-10 {
    margin-right: 0.10rem !important;
}

.margin-right-20 {
    margin-right: 0.20rem !important;
}

.margin-right-30 {
    margin-right: 0.30rem !important;
}

.no-margin {
    margin: 0 !important;
}